
.company-card {
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px lightgrey;
    border-radius: 10px;
    background-color: white;
}

.company-card-header {
    height: 50px;
}

.company-card-header > div {
    color: #464646;
    font-size: x-large;
    font-weight: 700;
}

.rating {
    background-color: #00FF85;
    border-radius: 10px;
}

.company-card-body > .section-title {
    color: #464646;
    font-weight: 500;
}

.row > .section-title {
    font-weight: 700;
}